@media screen and (orientation:portrait) { 
	/*#find #spacing {
		margin-bottom: 5vh;
	}	*/
}

@media screen and (orientation:landscape) { 
	/*#find #spacing {
		margin-bottom: 0;
	}	*/
}

#find {
	background-color: rgb(52,52,52);
}

#find ion-content {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100%;
  	width: 100%;
}

#find td-cards {
	position: relative;
	width: 100%;
	height: 50vh;
}

#find td-cards td-card {
	position: absolute;
	width: 100%;
	height: 100%;
}

#find td-cards td-card .td-card,
#find td-cards td-card .td-card .list.card,
#find .list.card .item-body,
#find .list.card .item-body .row,
#find .list.card .item-body .row .col {
	height: 100%;
}

#find td-cards td-card .td-card {
	padding: 5px;
}

#find .list.card .item-header h3 {
	font-family: 'Lobster-Regular' !important;
	font-size: 1.5em;
	line-height: 1.5em;
	color: white;
}

#find .list.card .item-body .avatar-container {
	overflow: hidden;
}

#find .list.card .item-body .avatar {
	width: 100%;
	height: auto;
}

#find .list.card .item-body .swipe {
	display: flex;
  	justify-content: center;
  	align-items: center;
}

#find .list.card .item-body .swipe i {
	font-size: 3em;
}