@media screen and (orientation:portrait) {
	#index #spacing {
		margin-bottom: 2vh;
	}
}
/*
@media screen and (orientation:landscape) {
	#index > ion-content {
		padding-left: 30vw;
		padding-right: 30vw;
	}

	#index #spacing {
		margin-bottom: 0;
	}
}
*/

#index {
	background: linear-gradient(
          rgba(52, 52, 52, 0.5),
          rgba(52, 52, 52, 0.5)
        ),
	url('../img/bg.gif');
	/*background-image: url('../img/bg.gif');*/
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#index #logo {
	height: 150px;
	width: auto;
}

#index h1 {
	font-family: 'Lobster-Regular';
	color: #dce6ef;
}

#index .item-input * {
	background-color: transparent !important;
}

#index .item-input span {
	font-family: 'Lobster-Regular';
	font-size: 1.5em;
	color: white;
}

#index .item-input input {
	font-family: 'Roboto-Regular';
	color: #a2c0d6;
}

#index .button {
	font-family: 'Roboto-Regular';
	font-size: 1.3em;
}