@media screen and (orientation:portrait) {
	#index #spacing {
		margin-bottom: 7vh;
	}
}
/*
@media screen and (orientation:landscape) {
	#index > ion-content {
		padding-left: 30vw;
		padding-right: 30vw;
	}

	#index #spacing {
		margin-bottom: 0;
	}
}
*/
#index #logo {
	height: 150px;
	width: auto;
}
